/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container { width: 748px; }
	.slide_thumbs_cont img { margin-left: 13px; width: 139px; height: 70px; }
	#cont_left { width: 748px; }
	.logo_cont {  }
	.logo_cont img { max-width: 100%; height: inherit; }
	.single_inside_content img { max-width: 100%; height: inherit; }
	.single_inside_content iframe { width: 748px; height: 430px; }
	.post_box img { display: block; width: 748px; height: 470px; }
	.post_box iframe { width: 748px; height: 430px; }		
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { 
	.container { width: 300px; }
	.header_top { position: static; }
	.logo_cont { padding-top: 25px; }
	.logo_cont img { max-width: 100%; height: inherit; }
	.header_menu { float: none; }
	.header_menu ul li a { font-size: 12px; }
	.header_menu ul li ul { top: 25px; }
	.header_menu ul li ul li a { font-size: 12px; }
	.header_social { float: none; text-align: center; padding: 5px 0; }
	.slide_thumbs_cont { display: none; }
	.post_box h3 {  margin-top: 0;  font-size: 40px; font-family: 'Raleway', sans-serif; line-height: 100%; font-weight: 900; }
h1.single_title { margin-top: 50px;;  font-size: 40px; font-family: 'Raleway', sans-serif; line-height: 100%; font-weight: 900;}
#cont_left p { color:#222222;font-family:Raleway, sans-serif;font-size:20px; font-weight:300;letter-spacing:1px;line-height:140%;}
	#cont_left { width: 300px; float: none; }
	.single_inside_content img { max-width: 100%; height: inherit; }
	.single_inside_content iframe { width: 300px; height: 170px; }
	#commentform textarea { max-width: 280px; }	
	.post_box img { display: block; width: 300px; height: 180px; }
	.post_box iframe { width: 300px; height: 170px; }		
	.may_like_box { float: none; margin: 0 auto 20px; }
	.jcarousel-skin-tango .jcarousel-container-horizontal { padding-left: 76px !important; padding-right: 76px !important; }	
}